In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%load_ext autoreload
%autoreload 2

In [5]:
from get_data import get_data
from feature_create import features_create
get_data(tickers_list=['AAPL', 'WMT', 'IBM', 'MU', 'BA', 'AXP', 'NVDA', 'AMGN', 'F', 'BP', 'META', 'AMD', 'INTC'])

portfolio = pd.read_csv('data/portfolio.csv')
portfolio = portfolio.astype({'Date': 'datetime64[s]'})
# portfolio.index = portfolio.Date
# portfolio.drop(columns=['Date'], inplace=True)

stocks = pd.read_csv('data/stocks.csv')
stocks = stocks.astype({'Date': 'datetime64[s]'})
# stocks.index = stocks.Date
# stocks.drop(columns=['Date'], inplace=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
features_create(portfolio, first_obs_day='thursday')

,Date,portfolio,is_monday,is_tuesday,is_wednesday,is_thursday,is_friday
0,2014-01-02,565.293878,0,0,0,1,0
1,2014-01-03,564.788752,0,0,0,0,1
2,2014-01-06,566.622448,1,0,0,0,0
3,2014-01-07,574.618282,0,1,0,0,0
4,2014-01-08,576.077914,0,0,1,0,0
...,...,...,...,...,...,...,...
2154,2022-07-25,1250.943274,1,0,0,0,0
2155,2022-07-26,1232.412821,0,1,0,0,0
2156,2022-07-27,1263.168507,0,0,1,0,0
2157,2022-07-28,1259.856039,0,0,0,1,0
2158,2022-07-29,1266.389864,0,0,0,0,1